#ui-header{
  color: black;
  width: 100%;
  font-weight: 400;
  height: 65px;
  display: inline-block;
  background-color: white;
  margin: 0px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 2px 8px 0px rgb(200,200,200) !important;
}
.ui-header-title{
  display: inline-block;
}
.ui-header-title *{
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  font-weight: 500;
  color: black !important;
}
.ui-header-breadcrumbs{
  margin-top: 6px;
  color: #039be5 !important;
  font-weight: 300;
  font-size: 15px;
}
.ui-header-breadcrumbs a{
  /*color: #1e88e5 !important;*/
}
.ui-header-breadcrumbs a:hover{
  text-decoration: underline;
}
.ui-header-breadcrumbs span{
  font-weight: 400;
  margin-left: 0px;
  margin-right: 0px;
}
.ui-header-breadcrumbs a:last-of-type{
  font-weight: 400;
}

.ui-main-buttons{
  margin-top: 6px;
}
.ui-main-buttons .btn-floating{
  width: 46px;
  height: 46px;
}
.ui-main-buttons a{
  margin-left: 5px;
}
.ui-main-buttons a:hover{
  /*background-color: rgba(30,130,250,1) !important;*/
}

.ui-main-buttons .btn-floating i{
  line-height: 46px;
}
